{% extends 'employee/baselogin.html' %}
{% block content %}
{% if found %}
<div>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Leave Type</th>
          <th>Leave Quota</th>
          <th>Leaves Availed</th>
          <th>Leave Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for leave in leaves %}
          <tr>
            <td>{{ leave.emp_id.name }}</td>
            <td>{{ leave.leave_type }}</td>
            <td>{{ leave.leave_quota }}</td>
            <td>{{ leave.leave_availed }}</td>
            <td>{{ leave.leave_balance }}</td>
            <td><a href="{% url 'apply_leave' emp_id=leave.emp_id.id %}"> Apply Leave </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Leave Type</th>
              <th>No of Days</th>
            </tr>
          </thead>
          <tbody>
            {% for leavedetail in leavedetails %}
              <tr>
                <td>{{ leavedetail.emp_id.name }}</td>
                <td>{{ leavedetail.leave_type }}</td>
                <td>{{ leavedetail.no_of_days }}</td>
                <td><a href="{% url 'leave_details' pk=leavedetail.id %}"> View details </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
      {% else %}
          <p>Sorry!! You have not been assigned any leaves yet by the administrator</p>

    </div>

  {% endif %}
{% endblock %}
