{% extends 'employee/baselogin.html' %}
{% block content %}
<div>
  <table class="table table-hover table-bordered">
      <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Leave Type</th>
            <th>Leave Duration</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Leave Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{leavetxn.emp_id.name}}</td>
            <td>{{leavetxn.leave_type}}</td>
            <td>{{leavetxn.no_of_days}}</td>
            <td>{{leavetxn.from_date}}</td>
            <td>{{leavetxn.to_date}}</td>
            <td>{{leavetxn.leave_reason}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% if products|length > 1 %}
  <div class="card">
      <div class="card-body">
        <h4 class="card-title">Here are some products that are tailored for you</h4>
        <p class="card-text">
          <table class="table">
              {% for product in products %}
              <tr>
              <td> {{product.product_name}}</td>
              <td> {{product.product_disp_text}}</td>
              <td>  <button class="save btn-danger btn-lg btn-block">Buy Online! </button></td>
              </tr>
              {% endfor %}
          </table>
        </p>
    </div>
    {% endif %}

{% endblock %}
