{% extends 'employee/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
      {%  if employees and employees|length > 0  %}
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>DOB</th>
                  <th>Mobile</th>
                  <th>Personal Email</th>
                  <th>Marital</th>
                  <th>Anniversary</th>
                  <th>Citizen</th>
                  <th>Religion</th>
                  <th>Blood Group</th>
                  <th>Created By</th>
                  <th>Created On</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees  %}
                <tr>
                    <td><a href="{% url 'edit_emp' pk=employee.id %}">Edit Employee Details</a></td>
                    <td><a href="{% url 'remove_emp' pk=employee.id %}">Remove Employee</a></td>
                    <td><a href="{% url 'list_employment' emp_id=employee.id %}"> List Employment Details</a></td>
                    <td><a href="{% url 'display_leave' emp_id=employee.id %}"> Display Leaves</a></td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.dob }}</td>
                    <td>{{ employee.mobile_number}}</td>
                    <td>{{ employee.personal_email_id}}</td>
                    <td>{{ employee.marital_status}}</td>
                    <td>{{ employee.marriage_anniv}}</td>
                    <td>{{ employee.citizen}}</td>
                    <td>{{ employee.religion}}</td>
                    <td>{{ employee.blood_group }}</td>
                    <td>{{ employee.created_by}}</td>
                    <td>{{employee.creation_timestamp}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No records found
    {% endif %}
    {% endif %}
{% endblock %}
